! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #404040, #404040, #000000

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #404040, #d0d0d0, #404040, #404040, #ffffff
rofi.color-active:  #404040, #0066ff, #404040, #404040, #0066ff
rofi.color-urgent:  #404040, #ff0000, #404040, #404040, #ff0000

! Set the desired separator style
rofi.separator-style: solidrofi.color-enabled:true
URxvt.perl-lib: /usr/lib/urxvt/perl/
URxvt.font:     xft:Fantasque Sans Mono Nerd Font:size=13,xft:Noto Sans:size=11
URxvt.transparent: true
URxvt.shading: 10
!URxvt.font:     xft:Noto Sans:size=13,xft:Noto Sans:size=11
URxvt.scrollBar: false
URxvt.letterSpace: 0
URxvt.cursorBlink: 1
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt*.cursorColor:  #ff2491

URxvt*.foreground:   #d2d2d2
URxvt*.background:   #000000
URxvt*.color0:       #303030
URxvt*.color8:       #5e5e5e
URxvt*.color1:       #c10023
URxvt*.color9:       #ff8781
URxvt*.color2:       #a83334
URxvt*.color10:      #ffa095
URxvt*.color3:       #b51d2c
URxvt*.color11:      #ff948b
URxvt*.color4:       #8c4b46
URxvt*.color12:      #feb2aa
URxvt*.color5:       #7d534f
URxvt*.color13:      #ebbbb5
URxvt*.color6:       #9a413d
URxvt*.color14:      #ffaaa0
URxvt*.color7:       #c6c6c6
URxvt*.color15:      #ffffff

