export EDITOR=nvim
export OPENER=xdg-open
export QT_QPA_PLATFORMTHEME="qt5ct"
export TERMINAL=alacritty
export PATH=$PATH:$HOME/bin/:$HOME/go/bin/:$HOME/GoLand-2019.2.2/bin/
export XDG_CONFIG_HOME=$HOME/.config/
